main {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 8rem;
  .card {
    flex-shrink: 0;
    width: 350px;
    position: relative;
    img {
      width: 100%;
      height: auto;
    }
    .card-footer {
      position: absolute;
      width: 100%;
      bottom: 3px;
      left: 0;
      padding: 1rem;
      opacity: 0;
      background-color: rgba(19, 35, 52, 0.5);
      color: white;
      display: flex;
      align-items: center;
      justify-content: space-between;
      transition: all 0.3s ease;
      i {
        font-size: 1.4rem;
        cursor: pointer;
        &:hover {
          color: white;
        }
      }
    }
    &:hover .card-footer {
      opacity: 1;
    }
  }
}
