* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  background-color: #dce3e9;
  font-family: "Lato", sans-serif;
}

.app {
  width: 90%;
  min-height: 100vh;
  padding: 2rem;
  background-color: white;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  border: 1px solid rgba(211, 211, 211, 0.322);
  -webkit-box-shadow: -15px -15px 30px white, 15px 15px 30px white;
          box-shadow: -15px -15px 30px white, 15px 15px 30px white;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

nav span {
  padding: 0.2rem 1rem 0.5rem 1rem;
  cursor: pointer;
  border-radius: 10px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

nav span:hover {
  background-color: #2e33361a;
}

nav span:first-child {
  position: relative;
}

nav #nav-anim {
  width: 50%;
  height: 2px;
  background-color: #2e3336;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media screen and (max-width: 550px) {
  nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

header {
  width: 100%;
  margin-top: 3rem;
}

header form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header form input,
header form button {
  font-size: clamp(0.2rem, 5vw, 1.7rem);
  font-weight: 100;
  border: none;
  padding: 0.5rem 1rem;
}

header form input:focus,
header form button:focus {
  outline: none;
}

header form input {
  border-bottom: 1px solid #c8d3dc;
  color: #2e3336;
  position: relative;
}

header form button {
  background-color: #434f55;
  color: white;
  width: 10rem;
  border-radius: 20px;
  -webkit-box-shadow: 0 11px 14px #2e3336;
          box-shadow: 0 11px 14px #2e3336;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

header form button:hover {
  background-color: #2e3336;
}

::-webkit-input-placeholder {
  color: #c8d3dc;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #c8d3dc;
  opacity: 1;
}

::-ms-input-placeholder {
  color: #c8d3dc;
  opacity: 1;
}

::placeholder {
  color: #c8d3dc;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #c8d3dc;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  margin-top: 8rem;
}

main .card {
  width: 30%;
}

main .card img {
  width: 100%;
}
/*# sourceMappingURL=style.css.map */