* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #dce3e9;
  overflow: auto;
  font-family: "Lato", sans-serif;
}
.app {
  width: 90%;
  height: 100vh;
  padding: 2rem;
  background-color: white;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  border: 1px solid rgba(211, 211, 211, 0.322);
  box-shadow: -15px -15px 30px white, 15px 15px 30px white;
}
@import "nav";
@import "header";
@import "main";
